@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "BDO Grotesk";
  src: url("../assets/fonts/BDOGrotesk-Regular-BF648a656fd543a.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src: url("../assets/fonts/BDOGrotesk-DemiBold-BF648a656f9c460.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@theme inline {
  --color-primary: #1D60E5;
  --color-primary-600: #0086FF;
  --color-primary-700: #1272F8;
  --color-secondary: #FBBB25;
  
  --font-sans: "BDO Grotesk", sans-serif;
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  color: #111827;
}

h1, h2, h3, h4, h5, h6, 
.display, .heading, .title, .subtitle, 
button, .cta-button, .btn {
  font-family: var(--font-sans);
  font-weight: 600;
}


/* Sections Backgrounds */
.section-neutral {
  background-color: #F9FAFB;
}

.section-dark {
  background-color: #111827;
  color: #FFFFFF;
}

.section-dark p, 
.section-dark .body-text {
  color: #D1D5DB;
}