---
import { Button } from "@/components/ui/button";
import Logo from "./Logo.astro";
import NavLinks from "./NavLinks.astro";
---

<header class="flex justify-between items-center">
  <Logo />
  <NavLinks />
  <Button> Login </Button>
</header>
