import LoginButton from "./LoginButton.astro";
import Logo from "./Logo.astro";
import NavLinks from "./NavLinks.astro";
import LanguagePicker from "../shared/LanguagePicker.astro";
---

<header class="w-full">
  <div
    class="container mx-auto grid h-20 w-full grid-cols-[auto_1fr_auto] items-center px-5 md:px-8"
  >
    <Logo imageProps={{ loading: "eager" }} />
    <NavLinks />
    <div class="flex items-center gap-4">
      <LanguagePicker />
      <LoginButton className="hidden md:block" />
    </div>
  </div>
</header>

