---
import { cn } from "@/lib/utils";
import type { ClassNameValue } from "tailwind-merge";
import Button from "@/components/ui/Button.astro";
interface Props {
	className ?: ClassNameValue;
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost' | 'link';
}
const { className, variant } = Astro.props;
---
<Button variant={variant || "primary"} size="md" href="/login" className={cn( className)}>
    Login
</Button>