---
import { cn } from "@/lib/utils";
import type { ClassNameValue } from "tailwind-merge";
import Button from "@/components/ui/Button.astro";
import { APP_ROOT_URL } from "@/lib/cta";
interface Props {
  className?: ClassNameValue;
  variant?: "primary" | "secondary" | "outline" | "ghost" | "link";
}
const { className, variant } = Astro.props;
---

<Button
  variant={variant || "primary"}
  size="md"
  href={APP_ROOT_URL}
  className={cn(className)}
>
  Login
</Button>
