---
import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import type { ClassNameValue } from "tailwind-merge";
interface Props {
	className ?: ClassNameValue
}
const { className } = Astro.props;
---
<Button className={cn(
  "min-w-20",
  className
)}> Login </Button>
