---
import HeroSection from "@/components/pages/home/HeroSection.astro";
import SocialProofSection from "@/components/pages/home/SocialProofSection.astro";
import ColdEmailFailsSection from "@/components/pages/home/ColdEmailFailsSection.astro";
import DeliveringStepsSection from "@/components/pages/home/DeliveringStepsSection.astro";
import ResultsSection from "@/components/pages/home/ResultsSection.astro";
import ColdEmailSection from "@/components/pages/home/ColdEmailSection.astro";
import ReachTheInboxSection from "@/components/pages/home/ReachTheInboxSection.astro";
import ComparisonTableSection from "@/components/pages/home/ComparisonTableSection.astro";
import FrequentlyAskedQuestionsSection from "@/components/pages/home/FrequentlyAskedQuestionsSection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Penguin Mails - Email Outreach & Domain Warm-up"
  description="Enter the world of Penguin Mails, where every message is a delightful surprise!">
  <main class="space-y-24 bg-white">
    <HeroSection />
    <SocialProofSection />
    <ColdEmailFailsSection />
    <ColdEmailSection />
    <DeliveringStepsSection />
    <ResultsSection />
    <ReachTheInboxSection />
    <ComparisonTableSection />
    <FrequentlyAskedQuestionsSection />
  </main>
</Layout>
