---
import HeroSection from "@/components/pages/home/HeroSection.astro";
import SocialProofSection from "@/components/pages/home/SocialProofSection.astro";
import ColdEmailFailsSection from "@/components/pages/home/ColdEmailFailsSection.astro";
import DeliveringStepsSection from "@/components/pages/home/DeliveringStepsSection.astro";
import ResultsSection from "@/components/pages/home/ResultsSection.astro";
import ColdEmailSection from "@/components/pages/home/ColdEmailSection.astro";
import ReachTheInboxSection from "@/components/pages/home/ReachTheInboxSection.astro";
import ComparisonTableSection from "@/components/pages/home/ComparisonTableSection.astro";
import FrequentlyAskedQuestionsSection from "@/components/pages/home/FrequentlyAskedQuestionsSection.astro";
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <main class="space-y-24 bg-white">
    <HeroSection
      titleStart={t("hero.titleStart")}
      titleInbox={t("hero.titleInbox")}
      titleSpam={t("hero.titleSpam")}
      description={t("hero.description")}
      trialText={t("hero.cta.trial")}
      demoText={t("hero.cta.demo")}
    />

    <SocialProofSection />
    <ColdEmailFailsSection />
    <ColdEmailSection />
    <DeliveringStepsSection />
    <ResultsSection />
    <ReachTheInboxSection />
    <ComparisonTableSection />
    <FrequentlyAskedQuestionsSection />
  </main>
</Layout>
