---
import HeroSection from "@/components/pages/home/HeroSection.astro";
import SocialProofSection from "@/components/pages/home/SocialProofSection.astro";
import ProblemSection from "@/components/pages/home/ProblemSection.astro";
import DeliveringStepsSection from "@/components/pages/home/DeliveringStepsSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="space-y-24 bg-white">
    <HeroSection />
    <SocialProofSection />
    <ProblemSection />
    <DeliveringStepsSection />
  </main>
</Layout>
