---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const stepTexts = t("home.steps.items");
const steps = stepTexts.map((s, i) => ({ ...s, id: i + 1 }));
---

<section class="container mx-auto px-10 space-y-16 md:space-y-24">
  <div class="text-center">
    <h2
      class="text-3xl md:text-4xl lg:text-[40px] font-semibold text-gray-900 mx-auto text-center tracking-tight"
    >
      {t("home.steps.title")}
    </h2>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-10 lg:gap-16 px-10 sm:px-0"
  >
    {
      steps.map((step) => (
        <div class="relative">
          <span class="absolute -top-12 md:-top-16 -left-6 md:-left-8 text-gray-100 font-bold text-[120px] md:text-[140px] leading-none  select-none tracking-tighter mix-blend-multiply">
            {Intl.NumberFormat("en-US", { minimumIntegerDigits: 2 }).format(
              step.id,
            )}
          </span>
          <h3 class="text-xl font-semibold text-gray-900 mb-3 md:mb-4">
            {step.title}
          </h3>
          <p class="text-gray-500 text-base md:text-lg leading-relaxed">
            {step.description}
          </p>
        </div>
      ))
    }
  </div>

  <div class="text-center">
    <p class="text-gray-500 text-lg md:text-[20px] font-medium text-center">
      {t("home.steps.footer")}
    </p>
  </div>
</section>
