---
const steps = [
  {
    id: 1,
    title: "Connect Your Inbox Securely",
    description:
      "We guide you through authentication and warmup setup to ensure your foundation is rock solid.",
  },
  {
    id: 2,
    title: "Import & Personalize Leads",
    description:
      "Upload your list and create tailored sequences that resonate with your prospects at scale.",
  },
  {
    id: 3,
    title: "Send Safely & Track Performance",
    description:
      "Launch campaigns with deliverability protection and watch your real-time tracking dashboard.",
  },
];
---

<section class="container mx-auto px-10 space-y-16 md:space-y-24">
  <div class="text-center">
    <h2
      class="text-3xl md:text-4xl lg:text-[40px] font-semibold text-gray-900 mx-auto text-center tracking-tight"
    >
      Start Delivering in 3 Simple Steps
    </h2>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-10 lg:gap-16 px-10 sm:px-0"
  >
    {
      steps.map((step) => (
        <div class="relative">
          <span class="absolute -top-12 md:-top-16 -left-6 md:-left-8 text-gray-100 font-bold text-[120px] md:text-[140px] leading-none  select-none tracking-tighter mix-blend-multiply">
            {Intl.NumberFormat("en-US", { minimumIntegerDigits: 2 }).format(
              step.id,
            )}
          </span>
          <h3 class="text-xl md:text-[22px] font-semibold text-gray-900 mb-3 md:mb-4">
            {step.title}
          </h3>
          <p class="text-gray-500 text-base md:text-lg leading-relaxed">
            {step.description}
          </p>
        </div>
      ))
    }
  </div>

  <div class="text-center">
    <p class="text-gray-500 text-lg md:text-[20px] font-medium text-center">
      No technical expertise required. 🛠️
    </p>
  </div>
</section>
