---
import PricingFaqSection from "@/components/pages/pricing/PricingFaqSection.astro";
import PricingHeroSection from "@/components/pages/pricing/PricingHeroSection.astro";
import PricingPlansSection from "@/components/pages/pricing/PricingPlansSection.astro";
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("pricing.title")} description={t("pricing.description")}>
  <main class="bg-white">
    <PricingHeroSection />
    <PricingPlansSection />
    <PricingFaqSection />
  </main>
</Layout>
